LLM_MODEL="qwen3.1.7-gpu"
EMBEDDING_MODEL="nomic-embed-text-cpu"
TRANSLATOR_MODEL="translategemma:4b"
OLLAMA_URL="http://ollama-server:11434"
DB_USR="user"
DB_PWD="password"
DB_HOST="localhost"
DB_PORT="5432"
DB_NAME="opendoc"
STORAGE_HOST="localhost"
STORAGE_PORT="8883"
STORAGE_USR="testuser"
STORAGE_PWD="testpwd"
STORAGE_BUCKET="testbucket"